@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* NAV DESKTOP */

nav {
    position: fixed;
    background-color: #2571B7;
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.nav__logo {
    line-height: 105px;
    margin-left: 10vw;
    width: 5px;
    height: 26px;
}

.nav__links {
    display: flex;
    align-content: flex-end;
    text-align: center;
}

.nav__btn {
    width: 138px;
    height: 37px;
    font-weight: 700;
    color: #fff;
    background-color: #002050;
    border: none;
    margin-right: 10vw;
    margin-top: 22px;
}

.nav__btn:hover {
    background-color: #545555;
}

.nav__links li {
    line-height: 80px;
    margin-right: 77px;
}

.nav__links li a {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav__links li a:hover {
    color: rgb(0, 0, 0);
}

.nav__hmb {
    display: none;
}

.nav__btn_m {
    display: none;
}

#check {
    display: none;
}


/* NAB MOBILE */

@media (max-width: 800px) {
    .nav__hmb {
        display: block;
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-left: 3vw;
        cursor: pointer;
    }
    .nav__btn {
        display: none;
    }
    .nav__btn_m {
        display: block;
        width: 138px;
        height: 37px;
        font-weight: 700;
        color: #fff;
        background-color: #002050;
        border: none;
        margin-right: 3vw;
        margin-top: 22px;
    }
    .nav__btn_m:hover {
        background-color: #545555;
    }
    .nav__logo {
        display: none;
    }
    .nav__links {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #2571B7;
        top: 80px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }
    .nav__links li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    .nav__links li a {
        font-size: 20px;
    }
    nav ul li a:hover {
        color: black;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }
    #check:checked~ul {
        left: 0;
    }
}


/* BANNER MOBILE*/

.banner {
    height: 100vh;
    width: auto;
    background-image: url(img/banner2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: #fff;
    font-size: 42px;
    padding-top: 220px;
}

.banner h2 {
    color: #fff;
    font-size: 24px;
    margin-top: 10%;
    font-weight: 500;
    letter-spacing: 1px;
}

.banner__btn {
    background-color: #00A4EF;
    text-decoration: none;
    border: none;
    color: #fff;
    margin-top: 50px;
    width: 188px;
    height: 52px;
    font-size: 21px;
    font-weight: 600;
}

.banner__btn:hover {
    background-color: #545555;
}

.banner__logo {
    padding-top: 18vh;
}

.banner__seta {
    display: none;
}


/* BANNER DESKTOP */

@media (min-width: 800px) {
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        padding-left: 15vh;
    }
    .banner h1 {
        font-size: 80px;
    }
    .banner h2 {
        font-size: 32px;
        font-weight: 500;
        margin-top: 2%;
    }
    .banner__btn {
        width: 266px;
        height: 67px;
        font-size: 28px;
    }
    .banner__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 35vh;
    }
    .banner__seta {
        display: block;
        width: 80px;
        height: 80px;
        color: #fff;
        padding-bottom: 0px;
    }
    .banner__logo {
        padding-top: 0;
        margin-right: 8vw;
    }
}


/* Site */

.container {
    width: 80%;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
}

.intro {
    padding-top: 96px;
}

.intro p {
    font-size: 20px;
    color: #737373;
    padding-bottom: 50px;
}

.intro spam {
    color: #F25022;
    font-weight: bold;
}

.titulocards h1 {
    font-size: 40px;
    color: #2571B7;
    padding-top: 50px;
}

.titulocards p {
    font-size: 20px;
    color: #737373;
    padding-top: 50px;
    padding-bottom: 50px;
}