@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


/* NAV DESKTOP */

nav {
    position: fixed;
    background-color: #2571B7;
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 80px;
    z-index: 2;
}

.nav__logo {
    line-height: 105px;
    margin-left: 10vw;
    width: 5px;
    height: 26px;
}

.nav__links {
    display: flex;
    align-content: flex-end;
    text-align: center;
}

.nav__btn {
    width: 138px;
    height: 37px;
    font-weight: 700;
    color: #fff;
    background-color: #002050;
    border: none;
    margin-right: 10vw;
    margin-top: 22px;
}

.nav__btn:hover {
    background-color: #545555;
}

.nav__links li {
    line-height: 80px;
    margin-right: 77px;
}

.nav__links li a {
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav__links li a:hover {
    color: rgb(0, 0, 0);
}

.nav__hmb {
    display: none;
}

.nav__btn_m {
    display: none;
}

#check {
    display: none;
}


/* NAB MOBILE */

@media (max-width: 768px) {
    .nav__hmb {
        display: block;
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-left: 3vw;
        cursor: pointer;
    }
    .nav__btn {
        display: none;
    }
    .nav__btn_m {
        display: block;
        width: 138px;
        height: 37px;
        font-weight: 700;
        color: #fff;
        background-color: #002050;
        border: none;
        margin-right: 3vw;
        margin-top: 22px;
    }
    .nav__btn_m:hover {
        background-color: #545555;
    }
    .nav__logo {
        display: none;
    }
    .nav__links {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #2571B7;
        top: 80px;
        text-align: center;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
    }
    .nav__links li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    .nav__links li a {
        font-size: 20px;
    }
    nav ul li a:hover {
        color: black;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }
    .nav-active {
        transform: translateX(0%);
    }
}


/* BANNER MOBILE*/

.banner {
    height: 90vh;
    width: auto;
    background-image: url(img/banner2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: #fff;
    font-size: 42px;
    padding-top: 25vh;
}

.banner h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

.banner__btn {
    background-color: #00A4EF;
    text-decoration: none;
    border: none;
    color: #fff;
    width: 188px;
    height: 52px;
    font-size: 21px;
    font-weight: 600;
}

.banner__btn:hover {
    background-color: #545555;
}

.banner__logo {
    padding-top: 15vh;
}

.banner__seta {
    display: none;
}


/* BANNER DESKTOP */

@media (min-width: 800px) {
    .banner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        padding-left: 10vw;
    }
    .banner h1 {
        margin-top: 10vh;
        font-size: 80px;
    }
    .banner h2 {
        font-size: 32px;
        font-weight: 500;
        padding-top: 3vh;
        padding-bottom: 10vh;
    }
    .banner__btn {
        width: 266px;
        height: 67px;
        font-size: 28px;
    }
    .banner__footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20vh;
    }
    .banner__seta {
        display: block;
        width: 80px;
        height: 80px;
        color: #fff;
        padding-bottom: 0px;
    }
    .banner__seta:hover {
        filter: brightness(0) saturate(50%);
    }
    .banner__logo {
        padding-top: 0;
        margin-right: 8vw;
    }
}


/*containers*/


/*mobile*/

.container {
    padding: 0 20px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
}


/*tablet*/

@media (min-width: 768px) {
    .container {
        padding: 0 50px;
    }
}


/*desk peq*/

@media (min-width: 1024px) {
    .container {
        padding: 0 80px;
    }
}


/*desk grande*/

@media (min-width: 1440px) {
    .container {
        padding: 0 calc((100vw - 1350px)/ 2);
    }
}


/* Site mobile */

.intro {
    padding-top: 50px;
}

.intro p {
    font-size: 15px;
    color: #737373;
    padding-bottom: 30px;
}

.titulocards h1 {
    font-size: 24px;
    color: #2571B7;
    padding-top: 15px;
}

.titulocards p {
    font-size: 15px;
    color: #737373;
    padding-top: 20px;
    padding-bottom: 30px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__box {
    width: 100%;
    height: 120px;
    background-color: #0072C6;
    margin-bottom: 12px;
}

.cards__conteudo {
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

.cards__conteudo__txt {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.cards__conteudo img {
    padding-top: 2.5vh;
}

.cards__conteudo h3 {
    margin-left: 15px;
    margin-top: 21px;
    font-size: 18px;
    color: #fff;
}

.cards__conteudo p {
    margin-left: 15px;
    padding-top: 5px;
    margin-right: 8px;
    font-size: 14px;
    color: #fff;
}

.cards__box:nth-child(2) {
    background-color: #2C5898;
}

.cards__box:nth-child(3) {
    background-color: #207245;
}

.cards__box:nth-child(4) {
    background-color: #CB4A32;
}

.cards__box:nth-child(5) {
    background-color: #733781;
}

.cards__box:nth-child(6) {
    background-color: #00AFF0;
}

.cards__box:nth-child(7) {
    display: none;
    background-color: #094AB2;
}

.cards__box:nth-child(8) {
    display: none;
    background-color: #0073C6;
}

.cards__box:nth-child(9) {
    display: none;
    background-color: #0093BE;
}

.cards__box:nth-child(10) {
    display: none;
    background-color: #5558AF;
}

#pg3 h3 {
    font-size: 24px;
    color: #2571B7;
    padding-top: 50px;
    font-weight: 700;
}

.services__box {
    padding-top: 40px;
}

.services img {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 25vw;
    margin-top: 40px;
    z-index: 1;
}

.services__conteudo {
    width: 70%;
    text-align: left;
}

.services__conteudo h4 {
    font-size: 16px;
    color: #7FBA00;
    margin-bottom: 15px;
}

.services__conteudo p {
    font-size: 13px;
    padding-top: 10px;
    color: #737373;
}

.services__btn {
    margin-top: 15px;
    background-color: transparent;
    width: 90px;
    height: 30px;
    border: 1px solid #7FBA00;
    color: #7FBA00;
    font-weight: 600;
}

.services__btn:hover {
    background-color: #7FBA00;
    color: black;
    border-color: #7FBA00;
}

.services__dividir {
    margin-top: 15px;
    width: 100%;
    height: 3px;
    background-color: #DEDEDE;
}

.services__box:nth-of-type(2) h4,
.services__box:nth-of-type(2) .services__btn {
    color: #00A4EF;
    border-color: #00A4EF;
}

.services__box:nth-of-type(2) .services__btn:hover {
    background-color: #00A4EF;
    color: black;
}

.services__box:nth-of-type(3) h4,
.services__box:nth-of-type(3) .services__btn {
    color: #FFB900;
    border-color: #FFB900;
}

.services__box:nth-of-type(3) .services__btn:hover {
    background-color: #FFB900;
    color: black;
}

.box {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

#pg4 h3 {
    font-size: 24px;
    color: #2571B7;
    font-weight: 700;
    padding-top: 70px;
}

.box__box {
    width: 100%;
    height: 150px;
    border: 3px solid #DEDEDE;
    border-bottom: none;
}

.box__box:last-child {
    border-bottom: 3px solid #DEDEDE;
}

.box__conteudo {
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.box__conteudo h4 {
    font-size: 15px;
    padding-bottom: 20px;
    color: #F25022;
}

.box__conteudo p {
    font-size: 14px;
    color: #737373;
}

.imgpessoas {
    margin-top: 70px;
    width: 100%;
    background: url(img/pm.png) no-repeat;
    background-size: cover;
}

.imgpessoas h4 {
    width: 95%;
    margin: 0 auto;
    padding: 7% 0;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 50px;
}

.formulario {
    display: flex;
    background-color: #E6E6E6;
    border-radius: 2px;
    padding: 10px 13px;
    margin-top: 50px;
    text-align: start;
}

.formulario label {
    font-size: 12px;
    color: #737373;
}

.formulario input {
    width: 100%;
    height: 44px;
    margin-bottom: 10px;
    padding: 0 5px;
    border: none;
    margin-top: 5px;
}

.formulario input[type=submit] {
    background-color: #00A4EF;
    border: none;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
}

.formulario input[type=submit]:hover {
    background-color: #545555;
}

.formulario input {
    outline-color: #00A4EF;
}

#pg5 h3 {
    font-size: 15px;
    color: #737373;
    margin-top: 70px;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.footer__logo {
    filter: brightness(0) saturate(100%);
    padding-right: 10px;
}

.footer__logo img {
    width: 45%;
    padding-bottom: 10px;
}

footer p {
    font-size: 12px;
    color: #B4B4B4;
    padding-bottom: 10px;
}


/* SITE DESKTOP*/

@media (min-width: 800px) {
    .intro {
        padding-top: 96px;
    }
    .intro p {
        font-size: 20px;
        padding-bottom: 30px;
    }
    .intro spam {
        color: #F25022;
        font-weight: bold;
    }
    .titulocards h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    .titulocards p {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cards__box {
        width: 48%;
    }
    .cards__conteudo {
        margin-left: 1.5vw;
    }
    .cards__conteudo img {
        width: 90px;
        height: 90px;
        margin-left: 0;
    }
    .cards__conteudo h3 {
        font-size: 20px;
    }
    .cards__conteudo p {
        font-size: 17px;
        margin-right: 12px;
    }
    .cards__box:nth-child(7) {
        display: block;
    }
    .cards__box:nth-child(8) {
        display: block;
    }
    .cards__box:nth-child(9) {
        display: block;
    }
    .cards__box:nth-child(10) {
        display: block;
    }
    .services {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
    }
    #pg3 h3 {
        color: #2571B7;
        font-size: 40px;
        font-weight: 700;
        padding-top: 80px;
        margin-bottom: 0px;
    }
    .services img {
        width: 160px;
        height: 160px;
        position: relative;
        padding: 0;
        margin: 0;
    }
    .services p {
        font-size: 16px;
    }
    .services__btn {
        width: 110px;
        height: 41px;
        font-size: 16px;
        margin-top: 30px;
        align-items: center;
        align-content: center;
        border: 2px solid;
    }
    .services__box {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .services__conteudo {
        text-align: center;
    }
    .services__conteudo h4 {
        padding-top: 30px;
        font-size: 20px;
    }
    .services__dividir_d {
        width: 53px;
        height: 4px;
        background-color: #DEDEDE;
        margin: 0 auto;
    }
    .services__dividir {
        display: none;
    }
    #pg4 h3 {
        font-size: 40px;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    .box {
        flex-direction: row;
        margin: 0 auto;
    }
    .box__box {
        width: 40%;
        height: auto;
        padding-bottom: 22px;
        border-bottom: 3px solid #DEDEDE;
        border-right: none;
    }
    .box__box:last-child {
        border-right: 3px solid #DEDEDE;
    }
    .box__conteudo {
        width: 75%;
        margin: auto auto;
    }
    .box__conteudo h4 {
        font-size: 20px;
    }
    .box__conteudo p {
        font-size: 16px;
    }
    .imgpessoas {
        background: url(img/pd.png) no-repeat;
        background-size: cover;
        height: 40vh;
        background-position: center;
        margin-top: 150px;
    }
    .imgpessoas h4 {
        font-size: 48px;
    }
    .formulario {
        width: 40%;
        margin: 80px auto;
    }
    .formulario input {
        height: 56px;
    }
    .formulario form {
        width: 90%;
        margin: 0 auto;
    }
    #pg5 h3 {
        font-size: 25px;
    }
    .formulario input[type=submit] {
        height: 67px;
        font-size: 28px;
    }
    .footer__logo img {
        padding-bottom: 10px;
        padding-right: 20px;
    }
    footer p {
        font-size: 14px;
        color: #B4B4B4;
    }
}